@import '../../../styles/sass/utils/variables';

.container {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
}

.input {
	background: $input-background-color;
	border: $input-border;
	border-radius: 6px;
	outline: none;
	transition: $transition;
	width: 100%;

	font-style: normal;
	font-weight: 400;
	font-size: 15px;
	line-height: 1.33;
	color: $secondary-text-color;

	&:hover,
	&:focus {
		border-color: $accent-color;
	}

	&::-webkit-outer-spin-button,
	&::-webkit-inner-spin-button {
		/* display: none; <- Crashes Chrome on hover */
		-webkit-appearance: none;
		margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
	}

	&::-webkit-calendar-picker-indicator {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		opacity: 0;
	}
}

.label {
	position: absolute;
	left: 0;
	bottom: 100%;
	padding-bottom: 8px;
	font-style: normal;
	font-weight: 500;
	font-size: 15px;
	line-height: 1.4;
	color: $secondary-text-color;
}

.icon {
	position: absolute;
	left: 12px;
	top: 11px;
	width: 18px;
	height: 18px;
}

.showIcon {
	position: absolute;
	right: 14px;
	top: 15px;
	width: 18px;
	height: 18px;
	cursor: pointer;
}

.errorContainer {
	display: flex;
	width: 100%;
}

.disabled {
	background-color: $input-disabled-background-color;
}

.error {
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 6px;
	background-color: $error-color;
}

.inputError {
	border-radius: 6px;
	border-color: $input-border-error-color;

	&:hover,
	&:focus {
		border-color: $input-border-error-color;
	}
}

.labelError {
	color: $error-color;
}

.textError {
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 1.35;
	color: $error-color;
	margin-top: 4px;
}
