$primary-text-color: #1a1919;
$primary-background-color: #fff;
$secondary-text-color: #060e1e;
$white-text-color: #fff;
$accent-color: #316fea;
$primary-button-color: #316fea;
$primary-button-hover-color: #4d7fe4;
$secondary-button-color: #fff;
$button-border: 1.2px solid #d3d8dc;
$transition: all 250ms ease;
$input-background-color: #fff;
$input-border: 1.2px solid #d3d8dc;
$input-disabled-background-color: #ecebeb;
$error-color: #fc4747;
$input-border-error-color: #fc4747;
$divider-border-color: #e3e6e9;
$divider-text-color: #bec5cc;
$link-hover-color: #355596;
